body {
    background-color: #eee;
}

.header {
    background: #000;
    color: #fff;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.header a {
    color: #fff;
}

.header h1 {
    font-size: 18px;
}

.header .el-dropdown {
    color: #fff !important;
}

.main-content {
    margin-top: 30px;
    padding: 0 20px;
}

.el-pagination {
    float: right;
}

.footer {
    color: #9A9FA7;
    font-size: 0.9rem;
    position: absolute;
    left: 47%;
    bottom: 2%;
}