{{define "certinfo"}} <br/>

<img src="static/images/cert.png" width="150" height="150"/><br/>
版本:V{{.cert.Version}} <br/>
序列号 :{{.cert.SerialNumber}} <br/>
颁发者:         {{.cert.Issuer}} <br/>
使用者：             {{.cert.Subject}} <br/>
有效期从   {{.cert.NotBefore}} 到   {{.cert.NotAfter}} <br/>
IsCA                  {{.cert.IsCA}} <br/>
最大证书链长度            {{.cert.MaxPathLen}} <br/>
// 证书持有者的替用名称 <br/>
DNSNames       {{.cert.DNSNames}} <br/>
EmailAddresses {{.cert.EmailAddresses}} <br/>
IPAddresses    {{.cert.IPAddresses}} <br/>
PermittedDNSDomainsCritical {{.cert.PermittedDNSDomainsCritical}} <br/>
PermittedDNSDomains   {{.cert.PermittedDNSDomains}} <br/>
// CRL配销点       <br/>
CRLDistributionPoints {{.cert.CRLDistributionPoints}} <br/>

<a href="/retrieve?path={{.path}}">下载证书</a>


<h2>读取证书信息错误:</h2>{{.Error}}
<a href="newca?type=root">创建证书</a>

{{end}}