{{define "header"}}

    <div class="header">
      <h1><a href="/">idx.local软件</a></h1>
      <div>
        <el-dropdown>
          <span>
            admin<i class="el-icon-caret-bottom"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>修改密码</el-dropdown-item>
            <el-dropdown-item>退出</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>

{{end}}