{{define "menu"}}
	
    <el-menu
        :default-active="menuActive"
        class="el-menu-vertical-demo"
        @select="handleSelected"
        background-color="#eeeeee">
        <el-menu-item index="/">
            <i class="el-icon-s-home"></i>
            <span slot="title">首页</span>
        </el-menu-item>
        <el-submenu index="/newca">
            <template slot="title">
            <i class="el-icon-menu"></i>
            <span>证书管理</span>
            </template>
            <el-menu-item index="/newca?type=server">服务器证书</el-menu-item>
            <el-menu-item index="/newca?type=personal">个人证书</el-menu-item>
            <el-menu-item index="/newca?type=sign">代码签名证书</el-menu-item>
        </el-submenu>
        <el-submenu index="3">
            <template slot="title">
            <i class="el-icon-menu"></i>
            <span>获取吊销证书信息</span>
            </template>
            <el-menu-item index="3-1">用户证书列表</el-menu-item>
            <el-menu-item index="3-2">获取用户证书</el-menu-item>
            <el-menu-item index="3-3">验证证书信息</el-menu-item>
        </el-submenu>
        <el-menu-item index="4">
            <i class="el-icon-setting"></i>
            <span slot="title">配置</span>
        </el-menu-item>
    </el-menu>
    
{{end}}