<html>

<head>
  <title>idx.local软件企业证书管理系统</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {{ template "commoncss" }}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    .el-table {
      margin-bottom: 20px;
    }
  </style>
</head>

<body>
  <div class="index-container" id="app">
    <div>{{ template "header" }}</div>

    <div class="main">
      <el-row>
        <el-col :span="3" class="main-menu">
          {{ template "menu" }}
        </el-col>

        <el-col :span="21" class="main-content">
          <el-card shadow="never" :body-style="{height: '700px'}">
            <div slot="header" class="clearfix">
              <span>服务器证书列表</span>
            </div>
            <div>
              <el-row style="margin-bottom: 20px">
                <el-col>
                  <el-button icon="el-icon-plus" type="primary" size="small" @click="dialogVisible=true">创建服务器证书
                  </el-button>
                </el-col>
              </el-row>
              <el-table :data="tableData" height="600" border stripe>
                <el-table-column prop="name" label="证书名称"></el-table-column>
                <el-table-column prop="name" label="有效期"></el-table-column>
              </el-table>

              <el-pagination background :page-sizes="[5, 10, 50, 100]" :page-size="10"
                layout="total, sizes, prev, pager, next, jumper" :total="0">
              </el-pagination>
            </div>
          </el-card>
        </el-col>

        <el-dialog title="创建服务器证书" :visible.sync="dialogVisible" width="50%" @close="handleClose">
          <el-form ref="dataForm" :rules="rules" :model="formData" label-width="120px" label-suffix=":">
            <el-row>
              <el-col :span="24">
                <el-form-item label="证书路径" prop="path">
                  <el-input v-model="formData.path" type="text" placeholder="请输入证书路径" clearable />
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="证书名称" prop="dn">
                  <el-input v-model="formData.dn" type="text" placeholder="请输入证书名称" clearable />
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="有效期(天)">
                  <el-input-number v-model="formData.validity" controls-position="right" :min="365">
                  </el-input-number>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="证书最大长度" prop="maxPathLength">
                  <el-input v-model="formData.maxPathLength" type="text" placeholder="请输入证书名称" clearable />
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item>
                  <el-checkbox v-model="formData.overwrite">是否允许中间CA</el-checkbox>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
          <span slot="footer" class="dialog-footer">
            <el-button @click="handleClose">取 消</el-button>
            <el-button type="primary" @click="submit">确 定</el-button>
          </span>
        </el-dialog>
      </el-row>
    </div>

    {{template "footer"}}
  </div>
</body>

{{ template "commonjs"}}
<script>
  new Vue({
    el: '#app',
    data: function () {
      return {
        tableData: [],
        dialogVisible: false,
        formData: {
          path: 'certs',
          dn: '/CN=idx.local Root CA',
          validity: 365,
          maxPathLength: 1,
          overwrite: true
        },
        menuActive: '',
        rules: {
          name: [{
            required: true,
            message: '请输入证书名称',
            trigger: 'blur'
          }]
        }
      }
    },
    created() {
      let url = window.location.href
      this.menuActive = url.substring(url.lastIndexOf('/'), url.length)
      let data = {
        path: "certs"
      }
      // axios.post("/api/get_cert_info", data).then(res => {
      //   console.log("rer", res)
      // })
    },
    methods: {
      handleClose() {
        this.dialogVisible = false
        this.formData.day = 1
        this.formData.overwrite = false
        this.$refs.dataForm.resetFields()
      },

      handleSelected(index, indexPath) {
        window.location.href = index
      },

      submit() {
        this.$refs.dataForm.validate((valid) => {
          if (!valid) return false
          axios.post("/api/get_cert_info", this.formData).then(res => {
            if (res.status === 200) {
              this.$message({
                type: 'success',
                message: '创建成功'
              })
              this.handleClose()
            }
          })
        })
      }
    },
  })
</script>

</html>