{{define "scripts"}}
	<!-- base -->
    <script src="static/assets/js/jquery.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>
    
    <!-- addons -->
    <script src="static/plugins/chart-plugins.js"></script>
    <script src="static/plugins/jquery-ui-slider.js"></script>
    <script src="static/plugins/redactor/redactor.min.js"></script>

    <script src="static/plugins/jmapping/jquery.metadata.js"></script>
    <script src="static/plugins/jmapping/jquery.jmapping.min.js"></script>
    <script src="static/plugins/jquery.uniform.js"></script>
    <script src="static/plugins/chosen.jquery.min.js"></script>
    <script src="static/plugins/bootstrap-datepicker.js"></script>
    <script src="static/plugins/jquery.timePicker.min.js"></script>
            
    <!-- plugins loader -->
    <script src="static/js/loader.js"></script>
{{end}}